<!-- Modal -->
<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Name</h5>
                <button @onclick="OnClickCancel">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="OnClickCancel">Anuluj</button>
                <button type="button" class="btn btn-danger" @onclick="OnClickDelete">Usuń</button>
            </div>
        </div>
    </div>
</div>
